@import url('https://fonts.googleapis.com/css??family=Spartan:wght@108;200;308;400;500; 600;700; 800;900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Alegreya Sans', sans-serif;
}

h1 {
font-size: 50px;
line-height: 64px;
color: #faefbb;
font-family: "Satisfy", sans-serif;
text-shadow: 3px 3px 3px #6a4900;
}

h2 {
font-size: 50px;
line-height: 64px;
color: #222;
font-family: "Satisfy", sans-serif;
text-shadow: 3px 3px 3px #ababab;
}

#header h2{
    margin-left: -35%;
}

h3{
    font-size: 30px; 
	color: #000000;
}


h4 {
	font-size: 20px; 
	color: #ffc183;
}

p{
font-weight: 700; 
font-size: 18px;
color: #e4a400;
}

h6 {

font-size: 16px; 
color: #465b52; 
margin: 15px 0 20px 0;
}

.section-p1 { 
	padding: 40px 30px;
}
.section-m1 { 
	margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    -background-color:■#fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    }




body { 
	width: 100%;
}

/*Header Start*/

#header {
 display: flex;
 align-items: center;
justify-content: space-between;
padding: 0px 88px;
 background: #9a885a;
box-shadow: 0 20px 35px rgba(254, 238, 207, 0.16);
z-index: 999;
position: sticky;
top: 0;
left: 0;
}

 #navbar {
display: flex;
align-items: center;

}
#navbar li {
list-style: none; 
padding: 0 20px;
position: relative;
}
#navbar li a {
text-decoration: none; 
font-size: 20px;
font-weight: 600;
color: #3b1f00;
transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active { 
	color: rgb(249, 221, 179);
}

#navbar li a.active::after,
#navbar li a:hover::after { 
    content:"";
    width: 30%;
    height: 2px;
    background: rgb(249, 221, 179);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close {
    display: none;
}
/* HOme page */

#hero {
    background-image: url("background.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right e;
    padding: 0 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h2{
    color:rgb(255, 255, 255);
    font-size: 65px;

}

#hero p{
    color:rgb(255, 255, 255);
    font-size: 25px;
}

#hero button {
    background-image: url("button.png"); 
    background-color: transparent;
    color: #ffffff; 
    cursor: pointer;
    border: 0;
    padding: 60px 10px 5px 25px;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 25px;
}

#hero button:hover {
    color: #3c1e00;
}

#feature{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #c27100; 
    border-radius: 4px;
    margin: 15px 0;
}
    #feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(99, 58, 18, 0.542);
    }
    #feature .fe-box img {
        width: 100%;
        margin-bottom}

    #feature .fe-box h6 {
        display: inline-block;
        padding: 9px 8px 6px 8px;
        line-height: 1;
        border-radius: 4px;
        color: white;
        background-color:  #c27100;
    }
        #feature .fe-box:nth-child(2) h6 {
        background-color: #6d0049;
        }
        #feature .fe-box:nth-child(3) h6 {
            background-color: #b426c7;
            }
            #feature .fe-box:nth-child(4) h6 {
                background-color: #62af09;
                }
        
                #feature .fe-box:nth-child(5) h6 {
                    background-color: #a41111;
                    }

                    #feature .fe-box:nth-child(6) h6 {
                        background-color: #bdc409;
                        }
 #product1 {
     text-align: center;
    }

    #product1 .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 8px 8px;
}
    
    #product1 .pro img {
        width: 100%;
        border-radius: 20px;
        }


#product1 .pro .des {
     text-align: start; padding: 10px 0;
}
#product1 .pro .des span { 
    color: #606063;
    font-size: 18px;
    }

#producti .pro .des h5 {
    padding-top: 7px;
    color: #3c1e00;
     font-size: 28px;
     }
#product1 .pro .des i {
         font-size: 12px;
         color: rgb(243, 181, 25);
        }
#product1 .pro .des h4 { 
    padding-top: 7px;
         font-size: 25px;
        font-weight: 700;
         color:#088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:  #3c1e00;
    color:  #ffd4a9;
    border: 1px solid  #ffa953;
    position: absolute;
    bottom: 25px;
    right: 10px;
    }
  
    #banner {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        background-image: url("banner2.png"); 
        background-position: center; 
        width: 100%;
        height: 40vh;
        background-size: cover;
        color: #ffffff;
    }
    #banner h4{
        color: #ffffff;
        font-size: 36px;

    }

    #banner h2 { 
        color: #fff; 
        padding: 10px 0;
    }
    #banner h2 span {
    color: #ef3636;
    }

    #banner button:hover {
        background: #5d3e00;
        color: #ffffff;}

#newsletter {
    display: flex;
    justify-content: space-between;
     flex-wrap: wrap;
    align-items: center;
    background-image: url("banner1.png");
    background-repeat: no-repeat;
    background-position: 28% 38%;
    background-color: #841e42|;

}

#newsletter h4 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    }

#newsletter p{
    font-size: 20px;
    font-weight: 600;
    color: #fff7de;
    }

#newsletter p span { 
    color: #463100;
    }
#newsletter .form {
        display: flex;
        width: 40%;
    }

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
   border-top-right-radius: 0; 
   border-bottom-right-radius: 0;
 }

#newsletter button {
        background-color: #6c7100;
        color: #fff;
        white-space: nowrap;
        border-top-left-radius: 0; 
        border-bottom-left-radius: 0;
        }

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}

footer .col {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        margin-bottom: 40px;
}

footer .logo { 
    margin-bottom: 20px;
    margin-top: -15px;
}

footer h4 {
font-size: 24px; 
padding-bottom: 20px; 
}

footer p {
font-size: 20px;
margin: 20px 0 2    px 0;
}
footer a {
    font-size: 18px;
    text-decoration: none;
    color:#222;
    margin-bottom: 10px;
}
footer .follow { 
    margin-top: 20px;
}
footer .follow i{ 
    color: #5d3b08; 
    padding-right: 15px;
    cursor: pointer;
}
footer .install .row img {
    border: 1px solid #088178;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    }

    footer .install img { 
        margin: 5px 25px 5;
    }

footer .follow i:hover,
footer a:hover { 
    color: #ff9100;
}

footer .copyright { 
    width: 100%;
text-align: center;
}

/* Shop Page */

#page-header {
    background-image: url("11.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    }

#page-header h1{
    font-size: 80px;
}
#page-header p{
    margin-top: 20px;
}

#pagination { text-align: center;
}
#pagination a {
text-decoration: none;
background-color: #554634;
padding: 15px 20px;
border-radius: 4px;
color: #fff;
font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* Product start */
#prodetails { 
    display: flex; 
    margin-top: 20px; 
}

#prodetails .single-pro-image { 
    width: 40%; 
    margin-right: 50px;
}
.small-img-group { 
    display: flex; 
    justify-content: space-between;
}
.small-img-col {
flex-basis: 24%;
cursor: pointer;
}
#prodetails .single-pro-details { 
    width: 50%; 
    padding-top: 30px; 
}
#prodetails .single-pro-details h4 { 
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px; 
}
#prodetails .single-pro-details select { 
    display: block; 
    padding: 10px 10px; 
    margin-bottom: 10px;
    background-color: #ffde9c;
    border-radius: 5px;
    font-weight: 600;
    
}
#prodetails .single-pro-details input { 
    padding: 15px 15px 15px 15px ;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 20px;
    width: 80px;
}

#prodetails .single-pro-details input:focus { 
    outline: none;
    padding: 15px 15px 15px 15px ;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 20px;
}
#prodetails .single-pro-details button { 
    color: |#fff;
background: #088178;
}
#prodetails .single-pro-details span {
line-height: 35px;
font-size: 20px;
}

/*  start about page */

#head-about {
    background-image: url("12.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}


#head-about h1{
    font-size: 80px;
}

 .mm {
    font-size: 25px;
    color: #000000;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;

}


#about h2{
align-items: center;
padding-left: 130px;

}

#man h2{
    align-items: center;
    padding-left: 30%;
    
    }
    

    #mana h2{
        align-items: center;
        padding-left: 25%;
        
        }
        

/* start contact page */

#head-contact {
    background-image: url("13.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}


#head-contact h1{
    font-size: 80px;
}

 .mm {
    font-size: 25px;
    color: #000000;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;

}

#contact{
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    width: 70%;
    }
    form {
    border: 5px solid #f1f1f1;
    }
    input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    button {
    background-color: #bf9a42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
    }
   #contact  h1 {
    text-align:center;
    fone-size:18;
    }
    button:hover {
    opacity: 0.8;
    }
    .formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
    }
    .container {
    padding: 16px 0;
    text-align:left;
    }
    span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
    }
    /* Change styles for span on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
    }}


#contact .col {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 


  }

  #contact p{
    font-size: 30px;
  }

  #contact .follow { 
    margin-top: 80px;
}
#contact .follow i{ 
    color: #5d3b08; 
    padding-right: 15px;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
}
   
#contact .mn{
    margin-top: -90%;
    margin-left: 110%;
    width: 80%;
    height: 110%;
}

/* cart page */

#cart{
    overflow-x: auto;
}


#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;

}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
 

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}


#cart table thead{
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 0;
}

#cart table tbody tr td{
    padding-top: 15px;

}

#cart table tbody  td{
    font-size: 15px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 40%;
    margin-right: 10px;
    border: 1px solid rgb(0, 0, 0);
}

#coupon button{
    width: 80px;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid brown;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid darkorange;
    padding: 10px ;
    font-size: 13px;
}

#head-cart {
    background-image: url("14.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#head-cart h1{
    font-size: 80px;
}


/* --------------------------------------------------------------- */
/* Start Media Query */
@media (max-width:799px) { 

.section-p1{
    padding: 40px 40px;
}
    
#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #998232;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 10px;
    transition: 0.3s;
    }

#navbar.active{
    right: 0px;
}  

#navbar li{
    margin-bottom: 25px;
}

#mobile{
    display: flex;
    align-items: center;
}

#mobile i {
    color: #000;
    font-size: 24px;
    padding-left: 20px;

}
#close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color:#222;
    font-size: 24px;
}

#lg-bag{
    display: none;
}

#hero {
    height: 70vh;
    padding: 0 88px;
    background-position: top 30% right 30%;
    }

    #feature {
    justify-content: center;
    }
   
    #feature .fe-box{
        margin: 15px 15px;
    }

#product1 .pro-container{
    justify-content: center;
}

#product1 .pro{
    margin: 20px ;
}

#banner{
    height: 20vh;
}

#newsletter .form{
    width: 70%;
}
#newsletter{
    width: 100%;
}

}
/* ------------------------------------------------------------------ */
@media (max-width: 827px) { 

    .section-p1{
        padding: 150px;
    }
    #header { 
    padding: 10px 20px;
}
    h1{
font-size: 28px;
}

h2{
font-size: 32px;
}
#header h2{
    display: none;
    }

span p{
    font-size: 18px;
}
#hero {
padding: 0 20px; 
background-position: 55%;
}
#feature{
    justify-content: space-between;
}

#feature .fe-box{
width: 155px;
margin: 0 0 25px 0;
}

#product1 .pro{
    width: 100%;
}

#banner{
    height: 20vh    ;
}
}

/* ----------------------------------------------------------------------- */
@media (max-width: 477px) { 

    .section-p1{
        padding: 20px;
    }
    #header { 
    padding: 10px 30px;
}
    h1{
font-size: 28px;
}

h2{
font-size: 32px;
}
#header h2{
    display: none;
    }

span p{
    font-size: 18px;
}
#hero {
padding: 0 20px; 
background-position: 55%;
}
#feature{
    justify-content: space-between;
}

#feature .fe-box{
width: 155px;
margin: 0 0 15px 0;
}

#product1 .pro{
    width: 100%;
}

#banner{
    height: 40vh    ;
}
#newsletter{
    width: 100%;
}

/* Single Product */
#prodetails {
    display: flex;
    flex-direction: column;
    } 
#prodetails .single-pro-image { 
    margin-right: 0px;
    width: 100%;
    }
#prodetails .single-pro-details{
        width: 100%;
        padding: 15px 15px  15px  15px  ;
    }

#page-header h1{
    font-size: 60px;
}
/* vcart page */

#cart-add{
    flex-direction: column;
}
#coupon{
    width: 190%;
}
#subtotal{
    width: 100%;
    padding: 20px; 
}

}
